#cor_referente {
  height: 100px;
  margin: 35px;
  padding: 35px;
}

@media (min-width: 320px) {
  #cor_referente {
    background-color: black;
  }
}

@media (min-width: 480px) {
  #cor_referente {
    background-color: lightblue;
  }
}

@media (min-width: 600px) {
  #cor_referente {
    background-color: lightgreen;
  }
}

@media (min-width: 768px) {
  #cor_referente {
    background-color: lightyellow;
  }
}

@media (min-width: 800px) {
  #cor_referente {
    background-color: brown;
  }
}

@media (min-width: 1024px) {
  #cor_referente {
    background-color: darkblue;
  }
}

@media (min-width: 1280px) {
  #cor_referente {
    background-color: darkgreen;
  }
}

@media (min-width: 1440px) {
  @media (min-width: 320px) {
    #cor_referente {
      background-color: black;
    }
  }

  #cor_referente {
    background-color: darkred;
  }
}

@media (orientation: landscape) {
  #paisagem {
    height: 100px;
    margin: 35px;
    padding: 35px;
    background-color: black;
  }
}
